{% extends 'employees\employee_base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello Employee {{ logged_in_employee.name }} <br />
    Zipcode: {{ logged_in_employee.zip_code }}
    <br />
    <br />
    <br />
    Customers: {% for customer in all_customers %}
    {{ customer.name }}
    {% endfor %}
    <br />
    <br />
    <br />
    Customers: {% for customer in customers_in_zipcode %}
    {{ customer.name }}
    {% endfor %}
    <br />
    <br />
    <br />
    Customers: {% for customer in customers_pickup_day %}
    {{ customer.name }}
    {% endfor %}
    <br />
    <br />
    <br />
    Customers: {% for customer in customers_one_time_pickup %}
    {{ customer.name }}
    {% endfor %}
    <br />
    <br />
    <br />
    Customers: {% for customer in customers_need_pickup %}
    {{ customer.name }}
    {% endfor %}
    <br />
    <br />
    <br />
    Date: {{ today }}
    

  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}